<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style> iframe{float:right;} </style>
	<iframe scrolling="no" overflow="hidden"
        style="margin:0; padding:0; border:none; width:535px; height:110px; scrolling:no; overflow:hidden;
	allowTransparency:"true"; "
	src="{{ url_for('pdf_view') }}">
	 frameBorder="0" scrolling="No"	</iframe>
    <title>ChicletPro - Vahidi Lab</title>

<style>
.hidden {
  display: none;
}
.resizedTextbox {
  width: 50px; height: 15.5px
}

.resizedColbox {
 width: 75px; height: 15.5px
}

/* Hide the iframe */
        #downloadIframe {
            display: none;
        }

.borderexample { <!--Used for Advanced Options Button-->
 border-width:3px;
 border-radius:5px;
 border-style:solid;
 border-color:#000000;
 background-color:#F2F2F2;
 padding: 10px 10px 10px 10px;
}

.bordertest { <!--Used for Boxes Around Text-->
 border-width:1px;
 border-radius:10px;
 border-style:solid;
 border-color:#808080;
 background-color:#FAFAFA;
 display:inline-block;
 padding: 5px 5px 5px 5px;
}

.generatorbutton { <!--Used for Generate Plot Button-->
 background-color;#f2f2f2;
 color:#000000;
 text-align:center;
 font-size:25px;
 border-color:#000000;
 border-width:3px;
 border-radius:5px;
 border-style:solid;
 padding: 10px 10px 10px 10px;
 display: block;
 margin: auto;
}

html {
  font-family: Arial, sans-serif;
}


 /* Style for the throbber */
        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centers the content of the container horizontally */
            margin: 0 auto; /* Center the container within the form */
        }
        #throbber {
            display: none;
            margin-top: 10px; /* Space between the button and the throbber */
        }
        .spinner {
            border: 12px solid #f3f3f3; /* Light grey */
            border-top: 12px solid #808080; /* Blue */
            border-radius: 50%;
            width: 36px;
            height: 36px;
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

<! These following 3 style codes were produced by Jordan Finneran at https://dev.to/jordanfinners/creating-a-collapsible-section-with-nothing-but-html-4ip9 >

details { 
  user-select: none;
}

summary {
  justify-content: center;
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

</style>

</head>
<body>
    <h1>
    HDgraphiX
    </h1>

    <form action="/generate_pdf" method="post" enctype="multipart/form-data" id="downloadForm" onsubmit="startDownload(event)">
	<br>
	<div class="bordertest">
	DynamX Cluster:
	<input type="radio" id="file_type" name="file_type" value="0" required/>
	HDExaminer PeptidePool:
	<input type="radio" id="file_type" name="file_type" value="1" required/> 
	<br>
	<label for="csv_file">Upload as .csv File:</label>
        <input type="file" id="csv_file" name="csv_file" required/>
	</div>
	<br>
	
	<p> 
	<div class="bordertest"> <b> Font Choices: </b></p>
        <label for="font_size">Font Size:</label>
	<input type="text" id="font_size" name="font_size" class="resizedTextbox" value="28" /><br><br>

        <label for="font_size_title">Title Size:</label>
        <input type="text" id="font_size_title" name="font_size_title" class="resizedTextbox" value="32" />
	<br><br>

	<label for="fontchoiceu">Font:</label>
		<select name="fontchoiceu" id="fontchoiceu">
			<option value="1">Arial</option>
			<option value="2">Helvetica</option>
			<option value="3">Times New Roman</option> </select>
	<br><br>

	<label for="fontcolor">Font Colour:</label>
		<select name="fontcolor" id="fontcolor">
			<option value="2">Black</option>
			<option value="1">White</option>
			<option value="5">Grey</option>
			<option value="3">Blue</option>
			<option value="4">Red</option> </select>
	<br>
	</div>

	<br>
	
	<p>
	<div class="bordertest"> <b> Type of Plot: </b></p>	
	<input type="radio" id="1" name="h_or_v" value="1" checked />
	<label for="1">Horizontal Heatmap</label><br>
	<input type="radio" id="2" name="h_or_v" value="2">
	<label for="2">Vertical Heatmap</label><br>
	<input type="radio" id="3" name="h_or_v" value="3">
	<label for="3">Woods Plot</label>
	<p style="display:inline" title="Range/Bounds will not be considered in the plotting of this type of plot, other than potentially for heatmap colouring. There are options for this type of plot found in advanced options.">
		<small>**More Info** </small>
			</p><br>
	<input type="radio" id="4" name="h_or_v" value="4">
	<label for="4">Volcano Plot</label>
	</div>	
	<br>

	<p>
	<div class="bordertest">
	<b> Choose Bounds/Colours Input Type: </b></p>

	<input type="radio" name="option" id="option3" value="2" onchange="showOptions()" checked />
	<label for="option3">Automatically Set Range Based on Data (Easiest)</label> <br>

	<input type="radio" name="option" id="option1" value="3" onchange="showOptions()" />
	<label for="option1">Choose Maximum Range and Number of Colour Shades</label> <br>

	<input type="radio" name="option" id="option2" value="1" onchange="showOptions()" />
	<label for="option2">Choose Colours From List and Input Bounds</label> <br>

	<input type="radio" name="option" id="option4" value="4" onchange="showOptions()" />
	<label for="option4">Input Colour Hexadecimal Values and Bounds (Most Customizable)</label>

	 <br>
	


	<div id="option1Div" class="hidden">
    		<p><b> Set Range and Shades </b> </p>
    		<label for="max_range">Maximum Range:</label>
    		<input type="text" id="max_range" name="max_range" class="resizedTextbox"/><br><br>

    		<label for="num_shades">Number of Shades:</label>
    		<input type="number" id="num_shades" name="num_shades" class="resizedTextbox" min="2"/> 		<br><br>
		
	</div>


	<div id="option2Div" class="hidden">
    		<p><b> Choose Colours: </b></p>
    		<label for="neg_col">Negative Values:</label> 
    		<select name="neg_col" id="neg_col"> 
        		<option value="2">Blue</option> 
        		<option value="1">Red</option> 
        		<option value="3">Green</option>  
			<option value="4">Yellow</option>
			<option value="5">Purple</option>
			<option value="6">Black</option>
    		</select> <br>

    		<label for="pos_col">Positive Values:</label> 
    		<select name="pos_col" id="pos_col"> 
        		<option value="2">Red</option> 
        		<option value="1">Blue</option> 
        		<option value="3">Green</option>
			<option value="4">Yellow</option>
			<option value="5">Purple</option>
			<option value="6">Black</option>
    		</select> <br><br>

		<p title="Bounds should start with the lowest value, and end with the highest. For example: -1.5, -1, -0.5, 0.5, 1, 1.5 where values between -0.5 and 0.5 will be white. Do not include 0 as a bound, it will not function. There should be at least 2 entries per list, and an equal number of positive and negative bounds.">
		<b>Input Bounds: </b>
		(hover over me for more information)
		</p>
		Negative bounds:<br>
		<input type="text" id="inputbn1" name="inputbn1" class="resizedTextbox"/>
		<input type="text" id="inputbn2" name="inputbn2" class="resizedTextbox"/>
		<input type="text" id="inputbn3" name="inputbn3" class="resizedTextbox"/>
		<input type="text" id="inputbn4" name="inputbn4" class="resizedTextbox"/>
		<input type="text" id="inputbn5" name="inputbn5" class="resizedTextbox"/>
		<input type="text" id="inputbn6" name="inputbn6" class="resizedTextbox"/>
		<input type="text" id="inputbn7" name="inputbn7" class="resizedTextbox"/>
		<input type="text" id="inputbn8" name="inputbn8" class="resizedTextbox"/> <br>
		Positive bounds:<br>
		<input type="text" id="inputbp1" name="inputbp1" class="resizedTextbox"/>
		<input type="text" id="inputbp2" name="inputbp2" class="resizedTextbox"/>
		<input type="text" id="inputbp3" name="inputbp3" class="resizedTextbox"/>
		<input type="text" id="inputbp4" name="inputbp4" class="resizedTextbox"/>
		<input type="text" id="inputbp5" name="inputbp5" class="resizedTextbox"/>
		<input type="text" id="inputbp6" name="inputbp6" class="resizedTextbox"/>
		<input type="text" id="inputbp7" name="inputbp7" class="resizedTextbox"/>
		<input type="text" id="inputbp8" name="inputbp8" class="resizedTextbox"/> 
	</div>
	
	<div id="option3Div">
		<br>
    		<i> The data range will be determined by the maximum absolute value in the provided data, with 7 shades of colours. </i><br><br>
	</div>
	
	<div id="option4Div" class="hidden">
		<br>	
		<small>Please input colours as hexadecimal values, beginning with a pound sign (eg. #FFFFFF)
		</small><br>

		<input type="radio" name="optionc" id="optionc1" value="1" onchange="showColOptions()">
		<label for="optionc1">Input Darkest Colour Values</label>

		<input type="radio" name="optionc" id="optionc2" value="2" onchange="showColOptions()">
		<label for="optionc2">Input All Colour Values</label>
		<br><br>

		<div id="DarkestColDiv" class="hidden">
		<b>Input Colours:</b><br>
		Input Darkest Colour for Negative Values:
		<input type="text" id="negcolorid" name="negcolorid" class="resizedColbox"/><br><br>
		Input Darkest Colour for Positive Values:
		<input type="text" id="poscolorid" name="poscolorid" class="resizedColbox"/><br><br>
		</div>

		<div id="InputAllColDiv" class="hidden">
		<b>Input Colours:</b><br>
		<small>Note: Each colour list (pos/negative) should be 1 shorter than each bound list (pos/negative), additional inputs will be ignored</small><br>
		Input Darkest Negative Colour to Lightest Negative Colour: <br>
		&#9642;
		<input type="text" id="ninputcol1" name="ninputcol1" class="resizedColbox"/>
		<input type="text" id="ninputcol2" name="ninputcol2" class="resizedColbox"/>
		<input type="text" id="ninputcol3" name="ninputcol3" class="resizedColbox"/>
		<input type="text" id="ninputcol4" name="ninputcol4" class="resizedColbox"/>
		<input type="text" id="ninputcol5" name="ninputcol5" class="resizedColbox"/>
		<input type="text" id="ninputcol6" name="ninputcol6" class="resizedColbox"/>
		<input type="text" id="ninputcol7" name="ninputcol7" class="resizedColbox"/> 
		&#9633;
		<br><br>
		Input Lightest Positive Colour to Darkest Positive Colour: <br>
		&#9633;
		<input type="text" id="pinputcol1" name="pinputcol1" class="resizedColbox"/>
		<input type="text" id="pinputcol2" name="pinputcol2" class="resizedColbox"/>
		<input type="text" id="pinputcol3" name="pinputcol3" class="resizedColbox"/>
		<input type="text" id="pinputcol4" name="pinputcol4" class="resizedColbox"/>
		<input type="text" id="pinputcol5" name="pinputcol5" class="resizedColbox"/>
		<input type="text" id="pinputcol6" name="pinputcol6" class="resizedColbox"/>
		<input type="text" id="pinputcol7" name="pinputcol7" class="resizedColbox"/> 
		&#9642;
		<br><br>
		</div>

		<div>
		<p title="Bounds should start with the lowest value, and end with the highest. For example: -1.5, -1, -0.5, 0.5, 1, 1.5 where values between -0.5 and 0.5 will be white. Do not include 0 as a bound, it will not function. There should be at least 2 entries per list, and an equal number of positive and negative bounds.">
		<b>Input Bounds: </b>
		(hover over me for more information)
		</p>
		Negative bounds:<br>
		<input type="text" id="inputbn14" name="inputbn14" class="resizedTextbox"/>
		<input type="text" id="inputbn24" name="inputbn24" class="resizedTextbox"/>
		<input type="text" id="inputbn34" name="inputbn34" class="resizedTextbox"/>
		<input type="text" id="inputbn44" name="inputbn44" class="resizedTextbox"/>
		<input type="text" id="inputbn54" name="inputbn54" class="resizedTextbox"/>
		<input type="text" id="inputbn64" name="inputbn64" class="resizedTextbox"/>
		<input type="text" id="inputbn74" name="inputbn74" class="resizedTextbox"/>
		<input type="text" id="inputbn84" name="inputbn84" class="resizedTextbox"/> <br><br>
		Positive bounds:<br>
		<input type="text" id="inputbp14" name="inputbp14" class="resizedTextbox"/>
		<input type="text" id="inputbp24" name="inputbp24" class="resizedTextbox"/>
		<input type="text" id="inputbp34" name="inputbp34" class="resizedTextbox"/>
		<input type="text" id="inputbp44" name="inputbp44" class="resizedTextbox"/>
		<input type="text" id="inputbp54" name="inputbp54" class="resizedTextbox"/>
		<input type="text" id="inputbp64" name="inputbp64" class="resizedTextbox"/>
		<input type="text" id="inputbp74" name="inputbp74" class="resizedTextbox"/>
		<input type="text" id="inputbp84" name="inputbp84" class="resizedTextbox"/> 
		</div>
	</div>

	</div>

	<script>
	function showOptions() {
    		var option1Div = document.getElementById("option1Div");
    		var option2Div = document.getElementById("option2Div");
		var option3Div = document.getElementById("option3Div");
		var option4Div = document.getElementById("option4Div");
    		if (document.getElementById("option1").checked) {
        		option1Div.classList.remove("hidden");
        		option2Div.classList.add("hidden");
			option3Div.classList.add("hidden");
			option4Div.classList.add("hidden");
    		} else if (document.getElementById("option2").checked) {
        		option1Div.classList.add("hidden");
        		option2Div.classList.remove("hidden");
			option3Div.classList.add("hidden");
			option4Div.classList.add("hidden");
    		} else if (document.getElementById("option3").checked) {
			option1Div.classList.add("hidden");
			option2Div.classList.add("hidden");
			option3Div.classList.remove("hidden");
			option4Div.classList.add("hidden");
		}else if (document.getElementById("option4").checked) {
			option1Div.classList.add("hidden");
			option2Div.classList.add("hidden");
			option3Div.classList.add("hidden");
			option4Div.classList.remove("hidden");
		}
	}
	function showColOptions() {
    		var DarkestColDiv = document.getElementById("DarkestColDiv");
    		var InputAllColDiv = document.getElementById("InputAllColDiv");
    		if (document.getElementById("optionc1").checked) {
        		DarkestColDiv.classList.remove("hidden");
        		InputAllColDiv.classList.add("hidden");
    		} else if (document.getElementById("optionc2").checked) {
        		DarkestColDiv.classList.add("hidden");
        		InputAllColDiv.classList.remove("hidden");
		}
	}

	</script> <br><br>

	<details>
	<summary>
	<span class="borderexample">
	<b>Click Here for Advanced Options</b>
	</span>
	</summary>

	<p>
	<div class="bordertest">
	<div>
		<p>

		Select boxes next to desired Advanced Options </p>

		<p title="If there are D exposure time points that are not interesting, they should be placed into the Drop Time List. The time points must perfectly match the 'Exposure' entries in the input csv file. E.g. 0.167, 1, 60.000004"><small>
   		 How to use the Drop Times Option (hover over me!)</small>
		</p>
    		<input type="checkbox" id="droptime" name="droptime" value="1">
    		<b>Drop Times:</b> 
		<label for="numtimedao">Number of Timepoints to drop:</label>
		<input type="number" id="numtimedao" name="numtimedao" min="1" value="1" class="resizedTextbox">
		<br>
	</div>
		<div id="inputContainerTimeD">
	    		<!-- Input fields will be generated here -->
		</div>
	<div>
		<p title="If there are peptides which are not wanted in the output, these should be placed into the Drop Peptides List. Entries should consist of 3 items: protein ID, peptide start, and peptide end. E.g. PSB_MYCTU, 1, 8, PSA_MYCTU 42, 52 excludes 2 peptides from plotting: one from 'PSB_MYCTU', starting at residue 1 and ending at residue 8, and another peptide from 'PSA_MYCTU', spanning residues 42 to 52."><small>
   		 How to use the Drop Peptides Option </small>
		</p>
		<input type="checkbox" id="droppept" name="droppept" value="1">
		<b>Drop Peptides:</b> 
		<label for="numpeptd">Number of Peptides to drop:</label>
		<input type="number" id="numpeptd" name="numpeptd" min="1" value="1" class="resizedTextbox">
		<br>
		Protein Name: 
		<font color="#FFFFFF"> ............... </font>  
		Start Residue:
		<font color="#FFFFFF"> ............... </font>   
		End Residue:<br>

	</div>
		<div id="inputContainerpept">
	    		<!-- Input fields will be generated here -->
		</div>
	<div>
		
		<p title="If there are entire proteins which are not wanted in the heatmap output, their IDs can be specified in the Drop Proteins List. E.g. PSA_MYCTU. Another way to avoid unwanted proteins in the heatmap is to specify which state comparisons you would like in the State Lists option"><small>
   		 How to use the Drop Proteins Option </small>
		</p>
		<input type="checkbox" id="dropprot" name="dropprot" value="1">
		<b>Drop Proteins:</b>
    			<input type="text" id="dpro2" name="dpro2" class="resizedTextbox"/>
			<input type="text" id="dpro3" name="dpro3" class="resizedTextbox"/>
			<input type="text" id="dpro4" name="dpro4" class="resizedTextbox"/>
			<input type="text" id="dpro5" name="dpro5" class="resizedTextbox"/>
			<input type="text" id="dpro6" name="dpro6" class="resizedTextbox"/>
			<input type="text" id="dpro7" name="dpro7" class="resizedTextbox"/><br>
	</div>
	<div>

		<p title="When protein sequence used to analyze data in DynamX contains a propeptide, residue numbering in DynamX output will include that propeptide. Sometimes it is desirable to renumber residues to correspond to a mature, processed protein sequence. This list allows you to do so with this script. If renumbering is desired, provide a dictionary indicating how much to subtract from residue numbers in which protein ID. Protein ID must be exactly as it appears in 'Protein' column of DynamX csv output file. E.g. Protein 1 = PSB_MYCTU and Value 1 = 57 will subtract 57 from all peptides in the protein PSB_MYCTU"> <small>
   		 How to use Renumbering </small>
		</p>
		<input type="checkbox" id="renumdict" name="renumdict" value="1">
		<b>Renumber Residues:</b>
    		Protein 1: <input type="text" id="key1" name="key1" class="resizedTextbox"/>
		Value 1: <input type="text" id="value1" name="value1" class="resizedTextbox"/> <br>
		<font color="#FFFFFF"> .......Renumber Residues:. </font>
		Protein 2: <input type="text" id="key2" name="key2" class="resizedTextbox"/>
		Value 2: <input type="text" id="value2" name="value2" class="resizedTextbox"/>
        	<br>
	</div>

	<div>
		<p title="Domain Name sets the label for the domain label. Start and End peptide define where the label begins and ends. When used with heatmaps the numbering is not based on residue numbering, but instead peptide order. Therefore if you have a list of 15 peptides, and wish to label from the 1st to the 10th peptide you would input 1 as the start and 10 as the end. When used with Woods plots it is based on residue numbering. Colour defines the colour of the label block, and must be input as a valid hexadecimal value beginning with a pound sign."> <small>
   		 How to use Domain Labelling </small>
		</p>
		<input type="checkbox" id="domainlabel" name="domainlabel" value="1">
		<b>Labelling Domains:</b>
		<label for="numdomain">Number of Domains to Generate:</label>
		<input type="number" id="numdomain" name="numdomain" min="1" value="1" class="resizedTextbox">
		<br>
		Domain Name: 
		<font color="#FFFFFF"> .............. </font>  
		Start Peptide:
		<font color="#FFFFFF"> ................ </font>   
		End Peptide:
		<font color="#FFFFFF"> ................. </font>
		Colour:<br>
		
		<div id="inputContainerdomain">
	    		<!-- Input fields will be generated here -->
		</div>
	</div>
		<br><br>

	<input type="radio" name="optionmut" id="optionmut1" value="1" onchange="showMutOptions()" checked>
	<label for="optionmut1">Don't Have Mutants</label>
	<input type="radio" name="optionmut" id="optionmut2" value="2" onchange="showMutOptions()">
	<label for="optionmut2">Mutants in Data</label>

	<div id="MutHideDiv" class="hidden">

		<p title="If DynamX is used to analyze data from a mutant protein, there are several changes in data entries compared to the wt protein:
1) peptides containing mutated residues have different sequence;
2) protein IDs assigned to these peptides are different from the wt protein;
3) protein 'State' assigned to mutant protein data is different from the wt.
If we want to plot D uptake difference between mutated peptide and the same peptide from wt protein, then protein ID of mutant and the peptide sequence needs to be altered so that the mutant appears as if wild type protein. This is a dictionary containing mutant protein IDs as keys and desired wt protein IDs as values. These IDs must exactly match the input .csv file. E.g.: PSB_T1A : PSB_MYCTU where 'PSB_T1A' is mutant and 'PSB_MYCTU' is wt. This variable must be provided for any mutant peptides to be changed into wt."><small>
   		 How to use the Mutation ID Dictionary </small>
		</p>
		<input type="checkbox" id="mutiddict" name="mutiddict" value="1">
		<b>Mutation ID Dictionary:</b>
    		Mutant Protein ID: 
		<input type="text" id="mutpro1" name="mutpro1" class="resizedTextbox"/><br>
		<font color="#FFFFFF"> ........................................... </font>
		Wild Type Protein ID:
		<input type="text" id="wtpro1" name="wtpro1" class="resizedTextbox"/>
		<br>	

		<p title="If DynamX is used to analyze data from a mutant protein, there are several changes in data entries compared to the wt protein:
1) peptides containing mutated residues have different sequence;
2) protein IDs assigned to these peptides are different from the wt protein;
3) protein 'State' assigned to mutant protein data is different from the wt.
If we want to plot D uptake difference between mutated peptide and the same peptide from wt protein, then protein ID of mutant and the peptide sequence needs to be altered so that the mutant appears as if wild type protein. Rather than Mutation ID Dictionary, we can use this dictionary. The script will alter sequence of mutant peptides based on what's in the Mutation Dictionary. The Mutation Dictionary is a dictionary which contains as keys residue numbers and as values desired wt residues. E.g. {1 : 'T'} specifies that residue #1 is T in the wt protein."> <small>
   		 How to use the Mutation Dictionary </small>
		</p>
		<input type="checkbox" id="mutdict" name="mutdict" value="1">
		<b>Mutation Dictionary:</b>
		Residue Number:
    		<input type="text" id="mutdictres" name="mutdictres" class="resizedTextbox"/><br>
		<font color="#FFFFFF"> .................................... </font>
		Desired WT Residue:
		<input type="text" id="mutdictwt" name="mutdictwt" class="resizedTextbox"/>

	</div>


	<br><br>

	<input type="radio" name="optionst" id="optionst1" value="1" onchange="showStateOptions()" checked>
	<label for="optionst1">Compare Everything</label>
	<input type="radio" name="optionst" id="optionst2" value="2" onchange="showStateOptions()">
	<label for="optionst2">Select States to Compare</label>


	<div id="StateHideDiv" class="hidden">

		<p title="Use state lists to restrict the selection of states being compared. In such case, combinations not defined by these variables will be ignored. These lists must contain names of protein states exactly as they appear in the DynamX output 'State' column. State 2 will be subtracted from State 1. For example, if the input file contains D uptake data on 5 states: wt apo, bound to ligand #1, bound to ligand #2, mutant X, and mutant Y and we want to calculate D uptake differences of bound/mutant states from wt apo, the two lists would be: State List 1= 'ligand 1','ligand 2','mutant X','mutant Y' and State List 2 = 'wt apo','wt apo','wt apo','wt apo'"> <small>
   		 How to use the State Lists </small>
		</p>
		<b>State List 1:</b>
			<input type="text" id="s11" name="s11">
			<input type="text" id="s12" name="s12">
			<input type="text" id="s13" name="s13">
			<input type="text" id="s14" name="s14">
			<input type="text" id="s15" name="s15">
			<input type="text" id="s16" name="s16"><br>
		<b>State List 2:</b>
			<input type="text" id="s21" name="s21">
			<input type="text" id="s22" name="s22">
			<input type="text" id="s23" name="s23">
			<input type="text" id="s24" name="s24">
			<input type="text" id="s25" name="s25">
			<input type="text" id="s26" name="s26">
		<br>

	</div>
	<br><br>
	<div>

		<b>Colour Insignificant Values (Not White):</b>
		<input type="checkbox" id="zerobound" name="zerobound" value="1"> 
		<p style="display:inline" title="This will cause the heatmap to color every square with no white. The colors closest to 0 will be the lightest color. Thus positive and negative values will apprear different no matter how close to zero. Do not include 0 in the list of bounds, the code will add it in."> <small>
   		 **More Info** </small>
		</p><br><br>

		<b>Separate Heatmap Plots: </b>
		<input type="checkbox" id="separate_plots" name="separate_plots" value="1" checked>
		<p style="display:inline" title="If selected each plot will be separate, if not state comparisons for the same protein will all be stacked"><small>**More Info** </small>
		</p>
		<br><br>

		<b>All Time Labels in One Unit: </b>
		<input type="checkbox" id="all_in_min" name="all_in_min" value="1">
    		<select name="what_t_unit" id="what_t_unit"> 
        		<option value="1">Seconds</option> 
        		<option value="2">Minutes</option> 
        		<option value="3">Hours</option>  
    		</select>
		<p style="display:inline" title="If selected all y-axis time labels will be expressed in chosen unit, rather than a mix of seconds, minutes, and hours"><small>**More Info**</small>
		</p><br><br>

		<b>Change Title Padding: </b>
		<input type="checkbox" id="usealtpad" name="usealtpad" value="1">
		Title:
		<input type="text" id="altpad" name="altpad" value="20" class="resizedTextbox"/>
		Subtitles:
		<input type="text" id="altpads" name="altpads" value="20"class="resizedTextbox"/>
		<p style="display:inline" title="Default padding is 20 for both, to ensure ease of legibility. Changing this value will change the width of padding between the title and subtitle, and the subtitle and the plot."><small>**More Info**</small>
		</p><br><br>

		<input type="checkbox" id="alt_col" name="alt_col" value="1">
    		<b>Option to Change Default Colouring:</b>
			<input type="text" id="negcolalt" name="negcol" placeholder="Negative Colour:"/>
			<input type="text" id="poscolalt" name="poscol" placeholder="Positive Colour:"/>
		<p style="display:inline" title="When not choosing colours in the above 'Choose Bounds/Colours Input Type' the default colours will be blue and red. If these colours are not desired there is the option to input the hexadecimal value for the darkest/highest difference in both positive and negative. These will be blended to white to produce all other necessary colours."><small>**More Info**</small>
		<br>
		<small>Please input colours as hexidecimal values beginning with a pound sign
		</small><br><br>

		<b>Heatmap Cell Dividing Colour/Thickness: </b>
		<input type="checkbox" id="usehmthick" name="usehmthick" value="1">
		Colour:
		<select name="hmcolor" id="hmcolor">
			<option value="1">White</option>
			<option value="2">Black</option>
			<option value="5">Grey</option>
			<option value="3">Blue</option>
			<option value="4">Red</option> </select>
		Thickness:
		<input type="text" id="hmthickness" name="hmthickness" value="4" class="resizedTextbox"/>
		<p style="display:inline" title="Default will be white with 4 pixel thickness"> <small>
   			 **More Info** </small> </p> 
		<br>

		<b>Change State Comparison Separating Line:</b>
		<input type="checkbox" id="stackedplotdivl" name="stackedplotdivl" value="1">
		Colour:
		<select name="hmsepcolor" id="hmsepcolor">
			<option value="2">Black</option>
			<option value="1">White</option>
			<option value="5">Grey</option>
			<option value="3">Blue</option>
			<option value="4">Red</option> </select>
		Thickness:
		<input type="text" id="hmsepthickness" name="hmsepthickness" value="4" class="resizedTextbox"/>
		<p style="display:inline" title="Only really useful when not separating plots - this formats the dividing lines between stacked state comparisons. Default will be black with 4 pixel thickness"><small>**More Info** </small>
		</p>
		<br>

		<b>Change Heatmap Border:</b>
		<input type="checkbox" id="hmplotbord" name="hmplotbord" value="1">
		Colour:
		<select name="hmbordcolor" id="hmbordcolor">
			<option value="2">Black</option>
			<option value="1">White</option>
			<option value="5">Grey</option>
			<option value="3">Blue</option>
			<option value="4">Red</option> </select>
		Thickness:
		<input type="text" id="hmbordthickness" name="hmbordthickness" value="10" class="resizedTextbox"/>
		<p style="display:inline" title="Default will be black with 10 width"><small>**More Info** </small>
		</p> <br>
 
		<b>Change Heatmap Ticks:</b>
		<input type="checkbox" id="changehmtick" name="changehmtick" value="1">
		Tick Colour:
		<select name="hmtickcolor" id="hmtickcolor">
			<option value="2">Black</option>
			<option value="1">White</option>
			<option value="5">Grey</option>
			<option value="3">Blue</option>
			<option value="4">Red</option> </select>
		Label Colour:
		<select name="hmtickcolorlabel" id="hmtickcolorlabel">
			<option value="2">Black</option>
			<option value="1">White</option>
			<option value="5">Grey</option>
			<option value="3">Blue</option>
			<option value="4">Red</option> </select>
		Width:
		<input type="text" id="hmtickwidth" name="hmtickwidth" value="4" class="resizedTextbox"/>
		Length:
		<input type="text" id="hmticklength" name="hmticklength" value="25" class="resizedTextbox"/>
		<p style="display:inline" title="Default will be black with 25 pixel length and 4 pixel width"><small>**More Info** </small>
		</p>
	
		<br><br>

		<b>For Woods Plots; Colour Gradient According to Heatmap:</b>
		<input type="checkbox" id="colorbyheatmap" name="colorbyheatmap" value="1">
		<p style="display:inline" title="If selected, colour cutoff value and set colours will be ignored for colouring, however the value can still be used to set the bounding lines if desired. If not selected above cutoff will be red, below will be blue, and in between will be white."> <small>
   			 **More Info** </small>
			</p>
		<br>

		<font color="#FFFFFF"> For Woods Plots;.. </font>
		<b>Set Colour Cutoff Value:</b>
		<input type="checkbox" id="colcutopt" name="colcutopt" value="1">
		<input type="text" id="colcutoff" name="colcutoff" class="resizedTextbox"/>
		<p style="display:inline" title="Select to input the colour cutoff (only used to generate a horizontal threshold if using heatmap colouring). If not selected value will be 0.5"> 		<small>**More Info** </small>
			</p>
		<br>

		<font color="#FFFFFF"> For Woods Plots;.. </font>
		<b>Set Plot Dimensions (inches):</b>
		<input type="checkbox" id="woodsdimen" name="woodsdimen" value="1">
		Width:
		<input type="text" id="woodsx" name="woodsx" class="resizedTextbox"/>
		Height:
		<input type="text" id="woodsy" name="woodsy" class="resizedTextbox"/>
		<br>

		<font color="#FFFFFF"> For Woods Plots;.. </font>
		<b>Set Colours:</b>
		<input type="checkbox" id="woodscol" name="woodscol" value="1">
		Negative:
		<input type="text" id="woodscolneg" name="woodscolneg" class="resizedColbox"/>
		Near Zero:
		<input type="text" id="woodscolneu" name="woodscolneu" class="resizedColbox"/>
		Positive:
		<input type="text" id="woodscolpos" name="woodscolpos" class="resizedColbox"/>
		<p style="display:inline" title="Will only work when heatmap colouring not selected. Please input hexadecimal colour values. Will otherwise colour red for positive, white for values near 0, and blue for negative values.">
		<small>**More Info** </small>
			</p>
		<br>

		<font color="#FFFFFF"> For Woods Plots;.. </font>
		<b>Remove Horizontal Threshold Markers:</b>
		<input type="checkbox" id="nolines" name="nolines" value="1">
		<p style="display:inline" title="Removes black dashed/dotted/solid lines from the graph, however the values will still be used for determining which peptides to colour (unless heatmap colouring is chosen)."> 		<small>**More Info** </small>
			</p>
		<br>

		<font color="#FFFFFF"> For Woods Plots;.. </font>
		<b>Change Peptide Thickness:</b>
		<input type="checkbox" id="altwoodsthick" name="altwoodsthick" value="1" />
		Colour Thickness:
		<input type="text" id="woodscolthick" name="woodscolthick" value="3" class="resizedTextbox"/>
		Border Thickness:
		<input type="text" id="woodsbackthick" name="woodsbackthick" value="0.5" class="resizedTextbox"/>
		<p style="display:inline" title="Changes the appearance of the bars representing peptides in the plot. By default it will be 3 for the thickness of the coloured part, and 0.5 thickness for the black border."> 		<small>**More Info** </small>
			</p>
		<br><br>

		<label for="max_range"><b> For Volcano Plots; p-value Threshold:</b></label>
    		<input type="text" id="pthresh" name="pthresh" class="resizedTextbox"/> 
		<br>

		<font color="#FFFFFF"> For Volcano Plotss; </font>
		<b>Set Alternate Point Colour:</b>
		<input type="checkbox" id="altvolc" name="altvolc" value="1">
		<input type="text" id="altvolccol" name="altvolccol" class="resizedColbox"/>
		<p style="display:inline" title="If not selected black will be used. Please input as hexadecimal values (eg. #000000 ).">
		<small>**More Info** </small>
			</p>
		<br><br>


		<b>Input DPI for image: </b>
		<input type="checkbox" id="dif_dpi" name="dif_dpi" value="1">
		<input type="number" id="dpi_in" name="dpi_in" max="400" class="resizedTextbox"/>
		<p style="display:inline" title="If not chosen and input the default DPI will be 100. Increasing the DPI will increase the processing time. The maximum input is 400."> <small>
   		 **More Info** </small>
		</p>
		<br><br>

		<b>Generate PDF rather than PNG:</b>
		<input type="checkbox" id="gen_pdf" name="gen_pdf" value="1" checked >
		<p style="display:inline" title="If selected = PDF, If not selected = PNG"> <small>
   		 **More Info** </small>
		</p>

		
		</div>
		<br><br>
	
	</div>
	
	</div>
	</p>
	</details>

	<br>

	<div class="bordertest">
	<b>Select if you wish to download PyMOL colouring scripts:</b>
	<input type="checkbox" id="download_pymol" name="download_pymol" value="1"> 
	<p style="display:inline" title="This will cause the heatmap and the pymol colouring scripts to be downloaded in a .zip file together, and you will need to extract from this file. To run the pymol scripts, open the protein in pymol, select file in the top left corner of pymol, then select run script, and choose the desired script. If numbering has not been corrected (see advanced options) the colouring may not align to the correct residues."> <small>
   		 **More Info** </small>
		</p>
	</div>
	<br><br>


        <button type="submit" class="generatorbutton"><b>Generate Plot</b></button>
	<br>

	<script>
		function generateTimeFields() {
        	    var numFieldst = document.getElementById("numtimedao").value;
        	    var containert = document.getElementById("inputContainerTimeD");
        	    containert.innerHTML = ""; // Clear previous fields

        	    for (var i = 0; i < numFieldst; i++) {
        	        var inputGrouptime = document.createElement("div");
        	        inputGrouptime.className = "input-group";

        	        var inputtime = document.createElement("input");
        	        inputtime.type = "text";
      		        inputtime.placeholder = "Time " + (i + 1);
        	        inputtime.id = "dt" + (i+1);
        	        inputtime.name = "dt" + (i+1);
        	        inputGrouptime.appendChild(inputtime);
	
        	        containert.appendChild(inputGrouptime);
        	    }
        	}

		// Listen for changes in the number input field and generate fields accordingly
		document.getElementById("numtimedao").addEventListener("input", generateTimeFields);

		// Initial generation of fields when the page loads
		generateTimeFields();


        	// Function to generate input fields based on the number of rows specified
        	function generateFieldspept() {
        	    var numpeptd = document.getElementById("numpeptd").value;
        	    var containerpept = document.getElementById("inputContainerpept");
        	    containerpept.innerHTML = ""; // Clear previous fields

        	    for (var i = 0; i < numpeptd; i++) {
        	        var inputGrouppept = document.createElement("div");
        	        inputGrouppept.className = "input-group";
	
        	        var proteinNameInput = document.createElement("input");
        	        proteinNameInput.type = "text";
        	        proteinNameInput.placeholder = "Protein Name " + (i+1);
        	        proteinNameInput.id = "dpeppro" + (i+1);
        	        proteinNameInput.name = "dpeppro" + (i+1);
        	        inputGrouppept.appendChild(proteinNameInput);

        	        var startResidueInput = document.createElement("input");
        	        startResidueInput.type = "text";
        	        startResidueInput.placeholder = "Start Residue " + (i+1);
        	        startResidueInput.id = "dpepst" + (i+1);
        	        startResidueInput.name = "dpepst" + (i+1);
        	        inputGrouppept.appendChild(startResidueInput);

        	        var endResidueInput = document.createElement("input");
        	        endResidueInput.type = "text";
        	        endResidueInput.placeholder = "End Residue " + (i+1);
        	        endResidueInput.id = "dpepend" + (i+1);
        	        endResidueInput.name = "dpepend" + (i+1);
        	        inputGrouppept.appendChild(endResidueInput);

        	        containerpept.appendChild(inputGrouppept);
        	    }
        	}

        	// Listen for changes in the number input field and generate fields accordingly
        	document.getElementById("numpeptd").addEventListener("input", generateFieldspept);

        	// Ensure the DOM is fully loaded before generating fields
        	document.addEventListener("DOMContentLoaded", function() {
        	    generateFieldspept();
        	});

		function showMutOptions() {
       		var MutHideDiv = document.getElementById("MutHideDiv");
    		if (document.getElementById("optionmut1").checked) {
        		MutHideDiv.classList.add("hidden");
    		} else if (document.getElementById("optionmut2").checked) {
        		MutHideDiv.classList.remove("hidden");
		}
	}

		function showStateOptions() {
       		var StateHideDiv = document.getElementById("StateHideDiv");
    		if (document.getElementById("optionst1").checked) {
        		StateHideDiv.classList.add("hidden");
    		} else if (document.getElementById("optionst2").checked) {
        		StateHideDiv.classList.remove("hidden");
		}
	}
		

	// Function to generate input fields based on the number of rows specified
        	function generateFieldsdomain() {
        	    var numdomain = document.getElementById("numdomain").value;
        	    var containerdomain = document.getElementById("inputContainerdomain");
        	    containerdomain.innerHTML = ""; // Clear previous fields

        	    for (var i = 0; i < numdomain; i++) {
        	        var inputGroupdomain = document.createElement("div");
        	        inputGroupdomain.className = "input-group";
	
        	        var domainNameInput = document.createElement("input");
        	        domainNameInput.type = "text";
        	        domainNameInput.placeholder = "Domain Name " + (i+1);
        	        domainNameInput.id = "domainName" + (i+1);
        	        domainNameInput.name = "domainName" + (i+1);
        	        inputGroupdomain.appendChild(domainNameInput);

        	        var startPeptInput = document.createElement("input");
        	        startPeptInput.type = "text";
        	        startPeptInput.placeholder = "Start Peptide " + (i+1);
        	        startPeptInput.id = "dompepst" + (i+1);
        	        startPeptInput.name = "dompepst" + (i+1);
        	        inputGroupdomain.appendChild(startPeptInput);

        	        var endPeptInput = document.createElement("input");
        	        endPeptInput.type = "text";
        	        endPeptInput.placeholder = "End Peptide " + (i+1);
        	        endPeptInput.id = "dompepend" + (i+1);
        	        endPeptInput.name = "dompepend" + (i+1);
        	        inputGroupdomain.appendChild(endPeptInput);

			var DomColour = document.createElement("input");
        	        DomColour.type = "text";
        	        DomColour.placeholder = "Domain Colour " + (i+1);
        	        DomColour.id = "domColour" + (i+1);
        	        DomColour.name = "domColour" + (i+1);
        	        inputGroupdomain.appendChild(DomColour);

        	        containerdomain.appendChild(inputGroupdomain);
        	    }
        	}

        	// Listen for changes in the number input field and generate fields accordingly
        	document.getElementById("numdomain").addEventListener("input", generateFieldsdomain);

        	// Ensure the DOM is fully loaded before generating fields
        	document.addEventListener("DOMContentLoaded", function() {
        	    generateFieldsdomain();
        	});


	</script>

	
    </form>

    <div class="center-container">
    	<div id="throbber">
        	<div class="spinner"></div>
    	</div>
    </div>

<script>
    function startDownload(event) {
    event.preventDefault(); // Prevent the form from submitting normally

    // Show the throbber
    document.getElementById('throbber').style.display = 'block';

    var formData = new FormData(document.getElementById('downloadForm'));

    fetch('/generate_pdf', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        // Extract the filename from the Content-Disposition header
        const disposition = response.headers.get('Content-Disposition');
        let filename = "default_filename.zip"; // Default filename

        if (disposition && disposition.indexOf('attachment') !== -1) {
            const filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
            const matches = filenameRegex.exec(disposition);
            if (matches != null && matches[1]) { 
                filename = matches[1].replace(/['"]/g, '');
            }
        }

        return response.blob().then(blob => {
            return {
                filename: filename,
                blob: blob
            };
        });
    })
    .then(({ filename, blob }) => {
        // Create a temporary download link
        var downloadUrl = URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = downloadUrl;
        a.download = filename; // Use the dynamic filename from the response
        document.body.appendChild(a);
        a.click();
        a.remove();

        // Revoke the URL after the download is triggered
        URL.revokeObjectURL(downloadUrl);

        // Hide the throbber once the download starts
        document.getElementById('throbber').style.display = 'none';
    })
    .catch(error => {
        console.error('Download failed:', error);
        // Hide the throbber in case of error
        document.getElementById('throbber').style.display = 'none';
    });
}

</script>


<p><center>Please acknowledge Dr. Algirdas Velyvis, Kent Vosper, and Dr. Siavash Vahidi of the University of Guelph.
<br>
Please direct questions/input to kvosper@uoguelph.ca </center></p>


    <form action="/reset_values" method="post" enctype="multipart/form-data">
	<button type="submit">Reset Website/Run Again</button>
    </form>

<br>

    <form action="/help_doc" method="post" enctype="multipart/form-data">
	<button type="submit">Download Help Document</button>
    </form>
<br>
    <form action="/sample_file" method="post" enctype="multipart/form-data">
	<button type="submit">Download Example Dynamx Output</button>
    </form>
	


</body>
</html>
